
* {
		box-sizing: border-box;
}

html {
		font-size: 16px
}

.debug {
	border: 3px solid red;
}

/* ==========================================================
====================== FONT STYLES ===========================
=============================================================*/

@font-face {
		font-family: "Alex Brush";
		src: url(../Fonts/AlexBrush-Regular.ttf) format("truetype");
}

/* ==========================================================
====================== BASIC STYLES ===========================
=============================================================*/


/* ================= HEADER - Basic Styles =====================
=============================================================*/

.header_banner {
		background: linear-gradient(180deg, rgb(26, 141, 240), rgb(81, 148, 206)
		            20%, transparent 70%);
}

header h1 {
		text-shadow: 1px 1.5px 2px black;
		font-family: "Alex Brush", helvetica;
		letter-spacing: 5px;
}

.primary_nav a {
		text-decoration: none;
		font-weight: 600;
		font-size: 1.1rem;
		color: rgb(11, 90, 249);
}

.primary_nav li,
.secondary_nav li {
		list-style: none;
		text-align: center;
}

@media (max-width: 1000px) {
		header h1 {
				font-size: 1.8rem;
		}
		.primary_nav a {
				font-size: 1rem;
		}
}

@media (max-width: 650px) {
		header h1 {
				font-size: 2rem;
		}
		.primary_nav a {
				font-size: 0.9rem;
		}
}

/* ================= MAIN - Basic Styles =====================
=============================================================*/

div h2,
.main_description {
		text-align: center;
}

.enbd1 {
		box-shadow: 0 0 5px 5px black;
}

/* ================= FOOTER - Basic Styles =====================
=============================================================*/

footer p {
		font-weight: 700;
}

.footer_banner {
		background: radial-gradient(transparent, rgb(81, 148, 206) 90%),
								url("../Images/footer_contact.webp") no-repeat center/40%;
}

.secondary_nav a {
		text-decoration: none;
		font-weight: 600;
}

@media (max-width: 1000px) {
		.secondary_nav a {
				font-size: 0.88rem;
		}
		footer p {
				font-size: 0.88rem;
		}
}

@media (max-width: 650px) {
		.secondary_nav a {
				font-size: 0.75rem;
		}
		footer p {
				font-size: 0.75rem;
		}
}

/* ==========================================================
====================== LAYOUT STYLES ===========================
=============================================================*/


/* ================= MAIN PAGE - Layout Styles ===================
=============================================================*/

.container_w80 {
		width: 80%;
		margin: 0 auto;
}

.container_h80 {
		min-height: calc(100vh - 230px);
}

.primary_nav a,
.secondary_nav a {
		display: block;
		padding: 5px 10px;
}


/* ================= HEADER - Layout Styles ===================
=============================================================*/

.header_banner {
		border-radius: 10px 10px 0 0;
}

header {
		display: flex;
		padding: 20px 0;
		justify-content: space-between;
		align-items: center;
}

.primary_nav {
		display: flex;
}

header h1 {
		padding: 5px 10px;
		margin: 0;
}

.primary_nav {
		padding: 10px 10px;
		margin: 0;
}

.primary_nav li{
		border-style: solid;
		border-width: 0 0 0 2px;
		border-color: grey;
		padding: 0;
}

@media (max-width: 1100px) {
		.container_w80 {
				width: 90%;
		}

		header {
				flex-direction: column;
				justify-content: center;
				align-items: center;
		}
}

@media (max-width: 650px) {
		.container_w80 {
				width: 95%;
		}

		header {
				justify-content: space-between;
				align-items: center;
				flex-direction: row;
				justify-content: space-between;
		}

		.primary_nav {
				flex-direction: column;
				padding: 0;
				margin-right: 5%;
		}
		.primary_nav li{
				border: none;
		}
}

/* ================= MAIN - Layout Styles ===================
=============================================================*/

main {
		width: 80%;
		margin: 35px auto 0;
		display: flex;
		flex-wrap: wrap;
}

section {
		padding: 5px 10px;
}

.main_description {
		flex-grow: 1;
}

.experience1,
.experience2 {
		flex: 1 50%;
}

figure {
		margin: 15px;
		display: inline-block;
		float: left;
}

.enbd1 {
		border-radius: 25% 0;
		padding: 5px;
		border: 2px solid grey;
}

.enbd2 {
		border-radius: 50%;
		padding: 5px;
		border: 2px solid grey;
}

@media (max-width: 1000px) {
		main {
				width: 95%;
		}
}

@media (max-width: 650px) {
		main {
				width: 100%;
		}
		.experience1,
		.experience2 {
				float: none;
				width: 95%;
				margin: 10px auto;
		}
}

/* ================= FOOTER - Layout Styles ===================
=============================================================*/

.footer_banner {
		padding: 15px;
		border-radius: 0 0 15px 15px;
}

footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
}

footer p,
footer nav,
.secondary_nav {
		margin: 0;
		padding: 5px;
}

.secondary_nav {
		padding-left: 10px;
}
.secondary_nav li {
		border-bottom-style: solid;
		border-bottom-width: 1.5px;
		border-bottom-color: grey;
}

@media (max-width: 1100px) {
		.container_w80 {
				width: 90%;
		}
}

@media (max-width: 650px) {
		footer {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
		}

		.secondary_nav {
				display: flex;
				margin: 0;
		}

}

/* ==========================================================
====================== FLOAT CLEARFIX ===========================
=============================================================*/

.clearfix::after {
		content: " ";
		display: table;
		clear: both;
}
